<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <span class="navbar-brand" style="color: whitesmoke"><strong><b><span style="color: lightblue;">
                                cap</span>Store</b></strong></span>
            </div>
            <ul class="nav navbar-nav">
                <li style="color:whitesmoke;" class="active"><a href="#"><span class="glyphicon glyphicon-home"></span>
                        LogIn</a></li>
                <li style="color:whitesmoke;"><a href="#"><span style="color:whitesmoke;"
                            class="	glyphicon glyphicon-globe"></span>
                        About Us</a></li>
                <li style="color: black;"><a href="#"><span style="color:whitesmoke;"
                            class="glyphicon glyphicon-envelope"></span>
                        Mail Us</a></li>
                <li style="color: whitesmoke;"><a href="#"><span style="color: whitesmoke;"
                            class="glyphicon glyphicon-earphone"></span>
                        Call Us</a></li>
            </ul>
        </div>
    </nav>
    <div class="jumbotron jumbotron-fluid" *ngIf="submitted">{{message}}</div>
    <div class="loginbox" *ngIf="!submitted">
        <img src="/assets/Images/avatar.svg" class="avatar" alt="User">
        <form #enForm="ngForm" novalidate>
            <label>Email</label>
            <input type="email" class="form-control" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" #email="ngModel"
                placeholder="E-mail" id="eMail" name="eMail" [(ngModel)]=eMail required>

            <div *ngIf="email.invalid && (email.dirty || email.touched)">
                <small class="text-danger">
                    <small *ngIf="email.errors.required">
                        E-Mail is required.
                    </small>
                    <small *ngIf="email.errors.pattern">
                        Invalid Email
                    </small>
                </small>
            </div>
            <input type="submit" name="submit" value="Login" (click)="onSubmit(enForm)"
                [disabled]="enForm.form.invalid">
        </form>
    </div>
</body>