<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <span class="navbar-brand" style="color:whitesmoke;"><strong><b><span style="color: lightblue;">
                                cap</span>Store</b></strong></span>
            </div>
            <ul class="nav navbar-nav">
                <li style="color:whitesmoke;" class="active"><a href="#"><span class="glyphicon glyphicon-home"></span>
                        Sign Up</a></li>
                <li style="color:whitesmoke;"><a href="#"><span style="color:whitesmoke;"
                            class="	glyphicon glyphicon-globe"></span>
                        About Us</a></li>
                <li style="color:whitesmoke;"><a href="#"><span style="color:whitesmoke;"
                            class="glyphicon glyphicon-envelope"></span>
                        Mail Us</a></li>
                <li style="color:whitesmoke;"><a href="#"><span style="color:whitesmoke;"
                            class="glyphicon glyphicon-earphone"></span>
                        Call Us</a></li>
                <li style="color:whitesmoke"><a [routerLink]="['']"><span style="color:whitesmoke"
                            class="glyphicon glyphicon-log-in"></span>
                        Log in</a></li>
            </ul>
        </div>
    </nav>
    <div class="loginbox" *ngIf="flag==null">
        <img src="/assets/Images/avatar.svg" class="avatar" alt="User">
        <form (ngSubmit)="validateUser()" #enForm="ngForm">
            <label>Full Name</label>
            <input type="text" class="form-control" #name2="ngModel" pattern="^[A-Za-z\s]{3,20}$"
                placeholder="Enter Full Name" id="fullName" name="fullName" [(ngModel)]=userDetails.name required>
            <div *ngIf="name2.invalid && (name2.dirty || name2.touched)">
                <small class="text-danger">
                    <small *ngIf="name2.errors.required || name2.errors.pattern">
                        Name is required.
                    </small>
                </small>
            </div>
            <label>Password</label>
            <input type="password" class="form-control" pattern="^(?=\D*\d)(?=[^a-z]*[a-z])(?=[^A-Z]*[A-Z]).{8,30}$"
                #pass="ngModel" placeholder="Password" id="pass" name="pass" [(ngModel)]=password required>
            <div *ngIf="pass.invalid && (pass.dirty || pass.touched)">
                <small class="text-danger">
                    <small *ngIf="pass.errors.required ">
                        Password is required.
                    </small>
                    <small *ngIf=" pass.errors.pattern">
                        Password should contain uppercase,lowercase,digit,symbol with min length 8
                    </small>
                </small>
            </div>
            <label>ReEnter Password</label>
            <input type="password" appConfirmEqualValidator="pass" class="form-control" #pass1="ngModel"
                placeholder="Password" id="pass1" name="pass1" [(ngModel)]=userDetails.password required>
            <div *ngIf="pass1.invalid && (pass1.dirty || pass1.touched)">
                <small class="text-danger">
                    <small *ngIf="pass1.errors.required ">
                        Password is required.
                    </small>
                </small>
                <small *ngIf="pass1.touched && pass1.errors.notEqual
                     && 
                     !pass1.errors.required">
                    <small class="text-danger">
                        Password and reEnter password does not match</small>
                </small>
            </div>
            <label>Email</label>
            <input type="email" class="form-control" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" #email="ngModel"
                placeholder="E-mail" id="eMail" name="eMail" [(ngModel)]=userDetails.email required>

            <div *ngIf="email.invalid && (email.dirty || email.touched)">
                <small class="text-danger">
                    <small *ngIf="email.errors.required">
                        E-Mail is required.
                    </small>
                    <small *ngIf="email.errors.pattern">
                        Invalid Email
                    </small>
                </small>
            </div>
            <label>Phone Number</label>
            <input type="text" name="no" pattern="^[0-9]{10}$" #no="ngModel" [(ngModel)]=userDetails.phoneNumber
                class="form-control" placeholder="Mobile Number" #mobile="ngModel" required />
            <div *ngIf="no.invalid && (no.dirty || no.touched)">
                <small class="text-danger">
                    <small *ngIf="no.errors.required ">
                        Phone Number is required.
                    </small>
                    <small *ngIf=" no.errors.pattern">
                        Invalid Number.
                    </small>
                </small>
            </div>
            <div class="form-group">
                <label for="selectedBy">Selected By</label>
                <br>
                <label class="radio-inline" style="display: inline;">
                    <input type="radio" name="selectedBy" [(ngModel)]=role value="Customer" required
                        #selectedBy="ngModel">Customer
                </label>
                <label class="radio-inline">
                    <input type="radio" name="selectedBy" [(ngModel)]=role value="Merchant" #selectedBy="ngModel"
                        required>Merchant
                </label>
                <div *ngIf="selectedBy.invalid && (selectedBy.dirty || selectedBy.touched)">
                    <small class="text-danger">
                        <small *ngIf="selectedBy.errors.required ">
                            Field is required.
                        </small>
                    </small>
                </div>

            </div>
            <input type="submit" value="Sign-Up" [disabled]="enForm.form.invalid">
        </form>
    </div>
    <div class="jumboton jumboton-fluid">
        <h2 *ngIf="flag">
            Confirmation mail has been sent to you email ID, Kindly Verify your mail there.
        </h2>
        <h2 *ngIf="flag==false">
            The Email already exists.
            <a [routerLink]="['']">Try to login</a>
        </h2>
    </div>
</body>